/* PrismJS 1.21.0
https://prismjs.com/download.html?themes#themes=prism-okaidia&languages=markup+css+clike+javascript */
/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */
 code[class*="language-"],
 pre[data-lang] {
   display: block;
   overflow: auto;
   color: #f8f8f2;
   background: #181818;
   text-shadow: 0 1px rgba(0, 0, 0, 0.3);
   font-family: "FiraCode", Menlo, Monaco, Consolas, "Andale Mono", "Ubuntu Mono", "Courier New", monospace !important;
   font-size: 1em;
   text-align: left;
   white-space: pre;
   word-spacing: normal;
   word-break: normal;
   word-wrap: normal;
   line-height: 1.5;
   padding: .7em;
 
   -moz-tab-size: 4;
   -o-tab-size: 4;
   tab-size: 4;
 
   -webkit-hyphens: none;
   -moz-hyphens: none;
   -ms-hyphens: none;
   hyphens: none;
 }
 
 /* Code blocks */
 pre[data-lang] {
   padding: 1em 1em 1.4em 1em;
   margin: 0.5em 0;
   overflow: inherit;
   border-radius: 0.3em;
   position: relative;
   box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
 }
 
 :not(figure) > pre {
   margin: 16px 40px 30px 40px !important;
 }
 code::-webkit-scrollbar {
     width: 1px;
     height: 5px;
 }
 
 code::-webkit-scrollbar-track {
     background: black;
 }
 
 code::-webkit-scrollbar-thumb {
     background: white;
 }
 
 pre[data-lang]::before {
   content: attr(data-lang);
   display: inline-block;
   position: absolute;
   left: 50%;
   bottom: -15px;
   transform: translateX(-50%);
   padding: 5px;
   font-size: 13px;
   background-color: #f1f1f1;
   color: black;
   font-family: Roboto;
   border-radius: 4px;
   text-transform: uppercase;
 }
 
 pre[data-lang="jsx"]::before {
   background-color: #3fcfff;
   color: black;
 }
 pre[data-lang="javascript"]::before {
   background-color: #f7e428;
   color: black;
 }
 pre[data-lang="css"]::before {
   background-color: #086ada;
   color: white;
 }
 pre[data-lang="html"]::before {
   background-color: #ff8b09;
   color: black;
 }
 
 /* Inline code */
 :not(pre) > code {
   padding: 0.1em;
   border-radius: 0.3em;
   white-space: normal;
   background: #eee;
   padding: 4px 5px;
 }
 
 /*********************************************************
 * Tokens
 */
 .namespace {
     opacity: .7;
 }
 
 .token.doctype .token.doctype-tag {
     color: #569CD6;
 }
 
 .token.doctype .token.name {
     color: #9cdcfe;
 }
 
 .token.comment,
 .token.prolog {
     color: #6a9955;
 }
 
 .token.punctuation,
 .language-html .language-css .token.punctuation,
 .language-html .language-javascript .token.punctuation {
     color: #d4d4d4;
 }
 
 .token.property,
 .token.tag,
 .token.boolean,
 .token.number,
 .token.constant,
 .token.symbol,
 .token.inserted,
 .token.unit {
     color: #b5cea8;
 }
 
 .token.selector,
 .token.attr-name,
 .token.string,
 .token.char,
 .token.builtin,
 .token.deleted {
     color: #ce9178;
 }
 
 .language-css .token.string.url {
     text-decoration: underline;
 }
 
 .token.operator,
 .token.entity {
     color: #d4d4d4;
 }
 
 .token.operator.arrow {
     color: #569CD6;
 }
 
 .token.atrule {
     color: #ce9178;
 }
 
 .token.atrule .token.rule {
     color: #c586c0;
 }
 
 .token.atrule .token.url {
     color: #9cdcfe;
 }
 
 .token.atrule .token.url .token.function {
     color: #dcdcaa;
 }
 
 .token.atrule .token.url .token.punctuation {
     color: #d4d4d4;
 }
 
 .token.keyword {
     color: #569CD6;
 }
 
 .token.keyword.module,
 .token.keyword.control-flow {
     color: #c586c0;
 }
 
 .token.function,
 .token.function .token.maybe-class-name {
     color: #dcdcaa;
 }
 
 .token.regex {
     color: #d16969;
 }
 
 .token.important {
     color: #569cd6;
 }
 
 .token.italic {
     font-style: italic;
 }
 
 .token.constant {
     color: #9cdcfe;
 }
 
 .token.class-name,
 .token.maybe-class-name {
     color: #4ec9b0;
 }
 
 .token.console {
     color: #9cdcfe;
 }
 
 .token.parameter {
     color: #9cdcfe;
 }
 
 .token.interpolation {
     color: #9cdcfe;
 }
 
 .token.punctuation.interpolation-punctuation {
     color: #569cd6;
 }
 
 .token.boolean {
     color: #569cd6;
 }
 
 .token.property,
 .token.variable,
 .token.imports .token.maybe-class-name,
 .token.exports .token.maybe-class-name {
     color: #9cdcfe;
 }
 
 .token.selector {
     color: #d7ba7d;
 }
 
 .token.escape {
     color: #d7ba7d;
 }
 
 .token.tag {
     color: #569cd6;
 }
 
 .token.tag .token.punctuation {
     color: #808080;
 }
 
 .token.cdata {
     color: #808080;
 }
 
 .token.attr-name {
     color: #9cdcfe;
 }
 
 .token.attr-value,
 .token.attr-value .token.punctuation {
     color: #ce9178;
 }
 
 .token.attr-value .token.punctuation.attr-equals {
     color: #d4d4d4;
 }
 
 .token.entity {
     color: #569cd6;
 }
 
 .token.namespace {
     color: #4ec9b0;
 }
 
 
 /*********************************************************
 * Language Specific
 */
 
 pre[class*="language-javascript"],
 code[class*="language-javascript"],
 pre[class*="language-jsx"],
 code[class*="language-jsx"],
 pre[class*="language-typescript"],
 code[class*="language-typescript"],
 pre[class*="language-tsx"],
 code[class*="language-tsx"] {
     color: #9cdcfe;
 }
 
 pre[class*="language-css"],
 code[class*="language-css"] {
     color: #ce9178;
 }
 
 pre[class*="language-html"],
 code[class*="language-html"] {
     color: #d4d4d4;
 }
 
 .language-regex .token.anchor {
     color: #dcdcaa;
 }
 
 .language-html .token.punctuation {
     color: #808080;
 }
 
 /*********************************************************
 * Line highlighting
 */
 pre[data-line] {
     position: relative;
 }
 
 pre[class*="language-"] > code[class*="language-"] {
     position: relative;
     z-index: 1;
 }
 
 .line-highlight {
     position: absolute;
     left: 0;
     right: 0;
     padding: inherit 0;
     margin-top: 1em;
     background: #f7ebc6;
     box-shadow: inset 5px 0 0 #f7d87c;
     z-index: 0;
     pointer-events: none;
     line-height: inherit;
     white-space: pre;
 }
 
 /* Media Queries */
 
 @media screen and (max-width: 577px) {
     
 code::-webkit-scrollbar {
     width: 2px;
     height: 2px;
 }
 }
 