/* PrismJS 1.21.0
https://prismjs.com/download.html?themes#themes=prism-okaidia&languages=markup+css+clike+javascript */
/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */
code[class*="language-"],
pre[data-lang] {
  display: block;
  overflow: auto;
  color: #f8f8f2;
  background: #272822;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  padding: .7em;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[data-lang] {
  padding: 1em 1em 1.4em 1em;
  margin: 0.5em 0;
  overflow: inherit;
  border-radius: 0.3em;
  position: relative;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
}

:not(figure) > pre {
  margin: 16px 40px 30px 40px !important;
}
code::-webkit-scrollbar {
	width: 1px;
	height: 5px;
}

code::-webkit-scrollbar-track {
	background: black;
}

code::-webkit-scrollbar-thumb {
	background: white;
}

pre[data-lang]::before {
  content: attr(data-lang);
  display: inline-block;
  position: absolute;
  left: 50%;
  bottom: -15px;
  transform: translateX(-50%);
  padding: 5px;
  font-size: 13px;
  background-color: #f1f1f1;
  color: black;
  font-family: Roboto;
  border-radius: 4px;
  text-transform: uppercase;
}

pre[data-lang="jsx"]::before {
  background-color: #3fcfff;
  color: black;
}
pre[data-lang="javascript"]::before {
  background-color: #f7e428;
  color: black;
}
pre[data-lang="css"]::before {
  background-color: #086ada;
  color: white;
}
pre[data-lang="html"]::before {
  background-color: #ff8b09;
  color: black;
}

/* Inline code */
:not(pre) > code {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
  background: #eee;
  padding: 4px 5px;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #8292a2;
}

.token.punctuation {
  color: #f8f8f2;
}

.token.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #f92672;
}

.token.boolean,
.token.number {
  color: #ae81ff;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #a6e22e;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #f8f8f2;
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
  color: #e6db74;
}

.token.keyword {
  color: #66d9ef;
}

.token.regex,
.token.important {
  color: #fd971f;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}


/* Media Queries */

@media screen and (max-width: 577px) {
	
code::-webkit-scrollbar {
	width: 2px;
	height: 2px;
}
}
